fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
python-multipart
python-dotenv
passlib[bcrypt]
bcrypt<4.0.0
itsdangerous
Jinja2
email-validator
aiosmtplib
langchain-google-genai
langgraph
langchain-core
langchain
google-generativeai
typing-extensions
annotated-types
PyPDF2
psycopg2
