aiosmtplib
alembic
annotated-types
bcrypt<4.0.0
email-validator
fastapi
google-generativeai
httpx
itsdangerous
Jinja2
langchain
langchain-core
langchain-google-genai
langgraph
passlib[bcrypt]
psycopg2
psycopg2-binary
pydantic
PyPDF2
pytest
pytest-asyncio
python-dotenv
python-jose[cryptography]
python-multipart
sqlalchemy
typing-extensions
uvicorn[standard]
websockets
